.day-input {
  border: none;
  box-shadow: 0 0 0 0 white;
  outline: none;
  color: Black;
  width: 2rem;
  border-bottom: 2px solid black;
  /* font-size: 1.2rem; */
  grid-area: day;
}

.month-input {
  border: none;
  box-shadow: 0 0 0 0 white;
  outline: none;
  color: Black;
  width: 4rem;
  border-bottom: 2px solid black;
  /* font-size: 1.2rem; */
  grid-area: day;
}
.year-input {
  border: none;
  box-shadow: 0 0 0 0 white;
  outline: none;
  color: Black;
  width: 6rem;
  border-bottom: 2px solid black;
  /* font-size: 1.2rem; */
}

@media screen and (min-width: 1267px) {
  .day-input {
    width: 1.4vw;
  }
  .month-input {
    width: 2vw;
  }
  .year-input {
    width: 3vw;
  }
  .year-input,
  .month-input,
  .day-input {
    /* font-size: 1.2vw; */
  }
}
@media screen and (min-width: 960px) {
  .year-input,
  .month-input,
  .day-input {
    /* font-size: 1.2vw; */
  }
}

.day-input:focus .month-input:focus .year-input:focus {
  outline: none;
  border: white;
  color: black;
  box-shadow: 0 0 10px 2px #fff;
}
